aiohttp==3.9.5
anthropic
apscheduler
cachetools
captcha
dateparser
gpytranslate==1.4.0
psutil
psycopg2-binary
pyrogram==1.4.16
python-dotenv==0.20.0
pytz
pyyaml
regex
requests==2.27.1
sqlalchemy
telegraph
TgCrypto
uvloop
aiohttp==3.9.5
anthropic
apscheduler
cachetools
captcha
dateparser
gpytranslate==1.4.0
psutil
psycopg2-binary
pyrogram==1.4.16
python-dotenv==0.20.0
pytz
pyyaml
regex
requests==2.27.1
sqlalchemy
telegraph
TgCrypto
uvloop
aiohttp==3.9.5
anthropic
apscheduler
cachetools
captcha
dateparser
gpytranslate==1.4.0
motor
psutil
psycopg2-binary
pymongo
pyrogram==1.4.16
python-dotenv==0.20.0
pytz
pyyaml
regex
requests==2.27.1
sqlalchemy
telegraph
TgCrypto
uvloop
aiohttp==3.9.5
anthropic
apscheduler
cachetools
captcha
dateparser
gpytranslate==1.4.0
motor
psutil
psycopg2-binary
pymongo
pyrogram==1.4.16
python-dotenv==0.20.0
pytz
pyyaml
regex
requests==2.27.1
sqlalchemy
telegraph
TgCrypto
uvloop
