psycopg2-binary
sqlalchemy
pyrogram==1.4.16
TgCrypto
requests==2.27.1
python-dotenv==0.20.0
regex
cachetools
uvloop
pytz
dateparser
gpytranslate==1.4.0
captcha
telegraph
pyyaml
apscheduler
psutil
anthropic
anthropic
psycopg2-binary
sqlalchemy
aiohttp==3.9.5
